.header-swiper__image {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;

  img{
    width: 100%;
    height: 100%;
  }
}

.header-swiper__slide{
  position: initial;
}

.swiper-banner-title-container {
  padding-top: 84px;
  padding-bottom: 80px;
  position: absolute;
  width: 600px;
  z-index: 1;
}

.swiper-banner-title {
  font-size: 48px;
  font-weight: 700;
  color: #999999;
  line-height: 1.34;
  margin-bottom: 49px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #333333;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #333333;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 28px;

  @include big-desktop {
    bottom: 29px;
  }

  @include tablet {
    bottom: 30px;
  }
}


.button {
  @include btn();
  @include violet-btn();
  transition: color .3s ease-in, background .3s ease-in-out, border-color .3s ease-in-out;
}


.button:hover,
.button:focus {
  background-color: #C998FB;
  border-color:#C998FB ;
}

.button:focus {
  border-color:#C998FB;
}

.button:active {
  background-color: #7033AC;
  border-color: #7033AC;
}

.swiper-banner-btn {
  padding-left: 50px;
  padding-right: 50px;
}

.mobile-get {
  display: none;
}

.swiper-banner-text {
  color: #FFFFFF;
}


.swiper-slide-img {
  display: flex;
  margin-bottom: 30px;
}

.not-found {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  color: #999999;
  display: flex;
  text-align: center;
}

.swiper-slide-img-picture {
  max-width: 161px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.banner-wrapper{
  margin-bottom: 60px;
}

.header-slide-wrapper {
  max-width: 276px;
  display: flex;
  flex-direction: column;
  padding: 105px 0;
  margin: 0 auto;
}

.header-slide {
  height: auto;
}
